POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=


# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:3000/"


# Next Auth Discord Provider
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=


# Next Auth Discord Provider
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# For Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET

# S3 File Storage
AWS_ACCESS_KEY_S3=
AWS_SECRET_KEY_S3=

