@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 13.73%;
    --foreground: 26 0% 82.69%;
    --muted: 206 0% 5%;
    --muted-foreground: 206 0% 86.15%;
    --popover: 26 2.93% 10.46%;
    --popover-foreground: 26 14% 99%;
    --card: 0 0% 16.08%;
    --card-foreground: 26 14% 99%;
    --border: 26 11% 10%;
    --input: 26 11% 10%;
    --primary: 38.49 100% 72.15%;
    --primary-foreground: 26 36.94% 21.07%;
    --secondary: 206 0% 65%;
    --secondary-foreground: 206 9.62% 15.09%;
    --accent: 206 76% 88%;
    --accent-foreground: 206 76% 28%;
    --destructive: 15 93% 58%;
    --destructive-foreground: 0 0% 0%;
    --ring: 26 76% 88%;
    --radius: 0.2rem;
  }

  .twitter {
    --background: 34 0% 100%;
    --foreground: 34 71% 1%;
    --muted: 34 0% 91.92%;
    --muted-foreground: 34 0% 38%;
    --popover: 34 44% 98%;
    --popover-foreground: 34 71% 1%;
    --card: 34 0% 100%;
    --card-foreground: 0 0% 0%;
    --border: 34 2% 91%;
    --input: 34 2% 91%;
    --primary: 190.19 100% 39.04%;
    --primary-foreground: 0 0% 100%;
    --secondary: 206.04 17.24% 93.96%;
    --secondary-foreground: 251.32 13.15% 28.21%;
    --accent: 192.45 0% 0%;
    --accent-foreground: 34 0% 100%;
    --destructive: 12 95% 35%;
    --destructive-foreground: 0 0% 100%;
    --ring: 190.19 100% 39.04%;
    --radius: 0.75rem;
  }

  .teriyaki {
    --background: 25 70% 98%;
    --foreground: 25 67% 4%;
    --muted: 25 30% 95%;
    --muted-foreground: 25 2% 29%;
    --popover: 25 0% 100%;
    --popover-foreground: 25 67% 4%;
    --card: 25 0% 100%;
    --card-foreground: 25 67% 4%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 25 31% 75%;
    --primary-foreground: 25 31% 15%;
    --secondary: 25 18% 90%;
    --secondary-foreground: 25 18% 30%;
    --accent: 25 23% 83%;
    --accent-foreground: 25 23% 23%;
    --destructive: 13 96% 20%;
    --destructive-foreground: 13 96% 80%;
    --ring: 25 31% 75%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
